# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ignore all Jupyter checkpoints everywhere 
.ipynb_checkpoints/
**/.ipynb_checkpoints/

cnn/*
augments/large_files/*  
data_large/*

_private/*

# ignore sandbox, for testing Claude, Gemini 
sandbox/large_files/*

temp1/large_files/*  
